
.code {
    font-family: 'Fira Code';
}
/*#task h1 {
    white-space:normal !important;
    width: 90% !important;
    border: 10px solid deeppink !important;
}*/

/*.spectacle-slide .token {
    font-family: 'Fira Code', monospace !important;
}*/

/* code slide notes */
.spectacle-slide pre + div {
    width: 80% !important;
}


.tight {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tighttop {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tightbottom {
    margin-bottom: 0px;
}

.col_container {
    flex-flow:column;
    display:flex;
    
}

.col_container .fillcol {
    flex-grow: 1;
    max-width: 75%;
   
}

/* explorer */
.datatree ul {
    font-family: "Anonymous Pro";
}

.datatree pre {
    background-color: #282C34;
    border-style: solid;
    border-width: 1px;
    border-color: black;
            padding: 10px;
            min-height: 250px;
    

}

.datatree pre span {
    line-height: 1px !important;
}

.datatree pre>code {
    font-size: 12pt;
    line-height: 1.2 !important;
    display: block;
    
}

/* viewer */
.datatree {
    font-family: "Anonymous Pro";
    font-size: 20pt;
}

.datatree table {
        background-color: #282C34;
    border-style: solid;
    border-width: 1px;
    border-color: black;
            padding: 10px;
            min-height: 250px;
}

.datatree table {
    font-size: 12pt;
    line-height: 1.2 !important;
    display: block;
    
}

/* styling tables */
table {
 border-collapse: collapse;
}





